img {
  width: 100%;
}

.tekst1 {
  position: relative;
  text-align: center;
  padding: 2rem;
}

.tekst2 {
  position: relative;
  bottom: 310px;
  color: #f2f2f2;
  top: 188%;
  left: 5%;
  transform: translateY(-50%);
  width: 40%;
  font-size: 30px;
}

.baggrundsfirgur_blaa {
  position: relative;
  bottom: -55px;
}

.om_os-1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  margin: 10px;
  gap: 22px;
  position: relative;
  bottom: 94px;
}

@media screen and (max-width: 800px) {
  .om_os-1_1_1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 50px;
  }

  .tekst1 {
    position: relative;
    padding: 2rem;
  }

  .tekst2 {
    transform: translateY(-50%);
    width: 90%;
    font-size: 0.8em;
  }

  .baggrundsfirgur_blaa {
    margin-bottom: 50px;
  }
}
