img {
  width: 100%;
}

.vi_skaber {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.klub_1_raekke {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.klub_2_raekke {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 3rem;
  margin-right: 3rem;
  gap: 3rem;
}

.blaa_bagrund {
  background-color: #022e40;
  height: 4rem;
  margin-bottom: -0.1rem;
}

.hex_3 {
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background-color: #daebd2;
  padding: 2.5rem;
}

.hex_4 {
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background-color: #dbeef5;
  padding: 2.5rem;
}
