.grid_ikoner img {
  width: 42%;
  height: auto;
}
.vision_con {
  position: relative;
}
.hex_1_placering {
  position: absolute;
}
.hex_2_placering {
  position: absolute;
}
.order {
  order: -1;
}
@media (min-width: 800px) {
  /**** IKONER ****/
  .ikoner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2rem 10%;
    gap: 40px;
  }
  .blinkende_paere,
  .graf {
    padding: 0 50px 0 50px;
  }
  /**** APP ****/
  .grid_app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 10%;
    gap: 4rem;
  }
  .flex_tekst {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-self: center;
  }

  /**** VISION ****/
  .grid_vision {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    margin: 2rem 10%;
  }

  /**** TILMELDING ****/
  .grid_tilmelding {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .ikoner_mobil {
    padding: 0 100px 0 100px;
  }
  .hjerne,
  .graf {
    margin-top: 80px;
  }
}
